.header {
  background-color: #181c23;
  color: white;
}

.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 0 auto;

  // posso aplicar estilo sรณ na primeira div
  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div:last-child {
    display: flex;
    align-items: center;
    gap: 2rem;
    // deixar cards deslocados para baixo
    transform: translateY(50%);
  }
}
